*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Color palette for easy reference*/
.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
}


/*Basic style rules*/
body {
    background-color:#9fd3c7;
}

header {
    color: #ececec;
    background-color:#385170;
}

.header-title {
    padding: 1rem;
}