*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}


/*Color palette for easy reference*/
.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
}


/*Basic style rules*/
body {
    background-color:#9fd3c7;
}

header {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ececec;
    background-color:#385170;
}

.header-title {
    padding: 1.5rem;
}

main > header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main > header > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 0;
}


ul > li {
    list-style: none;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 0;
    width: 80px;
    background-color:#ececec;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}
.btn:hover {
    background-color: white;
    transform: scale(1.05);
}

/*Bookshelf*/
.article-container {
    padding: 2rem;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.card {
    padding: 3rem;
    background-color:#ececec;
    text-align: center;
}